*{
  box-sizing: border-box;
}
body {
  margin: 0;
 
  background-color:  #282c34;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Baloo Bhai 2', cursive;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 11px;
  }
}

@media only screen and (max-width: 1100px) {


  table {
    table-layout: fixed;
    width: 100%;   
}

th,td {
  border-style: solid;
  border-width: 5px;
  border-color: #BCBCBC;
  word-wrap: break-word;
  overflow-y:hidden;
}
  


}